
{% extends 'base.html' %}

{% block title %} {{ user.full_name }} {% endblock %}

{% block content %}

<!-- Test: profile detail.html loaded. FOR TESTING DO NOT REMOVE -->

<div class="row justify-content-center">

  <div class="col-4 col-sm-4 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ user.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">
    <h1>{{ user.full_name }}</h1>
    <p class="lead">{{ user.bio }}</p>

    <p><b>Username:</b> {{ user.username }}</p>
    <p><b>Email:</b> {{ user.email }}</p>

    <p>
      <a class="btn btn-outline-primary" href="/profile/edit">
        Edit Your Profile
      </a>
    </p>

    {% with liked_plants = user.liked_plants %}
    {% if liked_plants %}
    <h2 class="mt-5">Your Liked Plants</h2>

    <ul class="list-group">
      {% for plant in user.liked_plants %}
      <li class="list-group-item">
        <a href="/plants/{{ plant.id }}">Common Name: {{ plant.common_name }}</a>
        <small class="ml-2 text-muted">Scientific Name: {{ plant.scientific_name[1:-1] }}</small>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="mt-5">You have no liked plants.</p>
    {% endif %}
    {% endwith %}

  </div>

</div>

{% endblock %}
