{% extends 'base.html' %}

{% block title %} Plant App {% endblock %}

{% block content %}

<div class="about">
  <h1>About page coming soon!</h1>
  <p>Plant App is a plant search site that lets users search plants, view care
    details, and bookmark individual plants. Additional tech: Perenual API,
    Flask, Jinja, SQLAlchemy, JS, jQuery, Axios, WTForm, Flask Session, Bcrypt.
    This project was originally built in Dec 2023 by Carl Molina.
  </p>
  <p>Github repo
    <a href="https://github.com/carl-molina/plant-app" target="_blank" rel="noopener">
      here.
    </a>
  </p>
</div>

{% endblock %}
