{% extends 'base.html' %}

{% block title %} Plant App {% endblock %}

{% block content %}

<div class="about-page">
  <h1>Features page coming soon!</h1>
  <h3>Features currently in development:</h3>
  <ol>
    <li>Search by plant name using Perenual's Plant API</li>
    <li>View individual plant care details under "More Details"</li>
    <li>User signup and login</li>
    <li>Signed-in users can bookmark plants</li>
  </ol>
  <h3>Stretch goals in v2:</h3>
  <ul>
    <li>User lookup and follow</li>
    <li>User plant growth tracker</li>
  </ul>
</div>

{% endblock %}