{% extends 'base.html' %}

{% block title %} Plant App {% endblock %}

{% block content %}

<!-- Test: homepage.html loaded. FOR TESTING DO NOT REMOVE -->

<div class="homepage">
  <h1 class="display-1">Plant App</h1>
  <h3 class="display-5">An App to Document Your Plant Journey</h3>

  <!-- <a class="mt-5 btn btn-primary" href="/plants">Search For Plants</a> -->
    <!-- <form id="search-form" method="POST" action="/get-plant-list">
      {% include "_form.html" %}
      <button type="submit" class="btn btn-default search-btn">
        <span class="bi bi-search"></span>
      </button>
    </form> -->


    <form id="search-form" class="form mb-2">
      <input
          name="term"
          class="form-control-lg"
          placeholder="Search Plants"
          aria-label="Search"
          id="plant-search">
      <button type="submit" class="btn btn-default search-btn">
        <span class="bi bi-search"></span>
      </button>
    </form>

</div>

<div id="resultsArea"></div>


{% endblock %}