{% extends 'base.html' %}

{% block title %} Plant App {% endblock %}

{% block content %}

<!-- Test: saved.html loaded. FOR TESTING DO NOT REMOVE -->

<div class="saved-plants">
  <h1>Saved Plants page coming soon!</h1>

  {% if plants %}
  <h2 class="mt-5">Your Liked Plants</h2>

  <ul class="list-group">
    {% for plant in plants %}
    <section class="plant-card">
      <li class="list-group-item">
        <div class="plant-details">
          <img src="{{ plant.default_image }}">
          <a href="/plants/{{ plant.id }}">Common Name: {{ plant.common_name }}</a>
          <small class="ml-2 text-muted">Scientific Name: {{ plant.scientific_name[1:-1] }}</small>
          <span>Cycle: {{ plant.cycle }}</span>
          <p>Cycle: {{ plant.cycle }}</p>
        </div>
      </li>
    </section>
    {% endfor %}
  </ul>
  {% else %}
  <p class="mt-5">You have no liked plants.</p>
  {% endif %}
</div>

{% endblock %}