{% extends 'base.html' %}

{% block title %} Plant App {% endblock %}

{% block content %}

<div class="saved-plants">
  <h1>Saved Plants page coming soon!</h1>

  {% if plants %}
  <h2 class="mt-5">Your Liked Plants</h2>

  <ul class="list-group">
    {% for plant in plants %}
    <!-- <div class="plant-card"> -->
      <li class="list-group-item">
        <img src="{{ plant.default_image }}">
        <!-- <section class="plant-details"> -->
          <a href="/plants/{{ plant.id }}">Common Name: {{ plant.common_name }}</a>
          <small class="ml-2 text-muted">Scientific Name: {{ plant.scientific_name[1:-1] }}</small>

          <!-- Needs to be displayed next to img: -->
          <span>Cycle: {{ plant.cycle }}</span>
          <p>Cycle: {{ plant.cycle }}</p>
        <!-- </section> -->
      </li>
    <!-- </div> -->
    {% endfor %}
  </ul>
  {% else %}
  <p class="mt-5">You have no liked plants.</p>
  {% endif %}
</div>

{% endblock %}